<section>
                    <h2>Crie sua própria sala:</h2>

                    <form action="/criar-sala" method="POST">
                        <label for="room-pass" class="sr-only">Insira uma senha</label>
                        <input type="password" name="password" id="room-pass" placeholder="Insira uma senha">

                        <button type="submit"><img src="images/criar.svg" alt=""> Criar sala</button>
                    </form>
                </section>